PORT=3000
NODE_ENV=development
CLIENT_ORIGIN=http://localhost:4200

MONGODB_URI=mongodb+srv://USER:PASS@cluster0.xxxx.mongodb.net/kyk?retryWrites=true&w=majority

JWT_SECRET=please-generate-a-long-random-string
JWT_EXPIRES_IN=7d

GOOGLE_CLIENT_ID=YOUR_GOOGLE_CLIENT_ID.apps.googleusercontent.com

GEMINI_API_KEY=YOUR_GEMINI_KEY
GEMINI_MODEL=gemini-1.5-flash
